@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<strong>Sam Henderson</strong> <br/>
<strong>Phone: </strong>07554010042
<address>
    <strong>My Email:</strong> <a href="mailto:samhenderson@hotmail.co.uk">Samhenderson@hotmail.co.uk</a><br />
</address>
